@import 'products';
@import 'cart';

body {
  margin: 0;
}

a {
  color: gray;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.gnb {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    font-display: row;
  }
  li {
    padding: 0.5rem 1rem;
  }
}
